
slides > slide {
  overflow-y: auto !important;
}

/* Code highlighting */
/* a comment 
.prettyprint .com {
  color: green;
  font-style: italic;
}
*/

/* a literal value
.prettyprint .lit {
  color: black;
}
 */

/* parenthesis, commas, ...
.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo {
  color: red;
}
*/

/* regular text 
.prettyprint .pln {
  color: blue;
}
*/




/*
slides > slide:not(.nobackground):after {
  content: '';
}


body > slides {
    padding: 0;
    margin: 0;
    width: 1024;
    height: 768;
}

slides > slide {
    width: 1024;
    height: 768;
    border-radius: 0;
}


.title-slide {
  background-image: url("bg.png");
  background-size: cover;
}


slides > slide.title-slide hgroup h1 {
  color: white;
  text-shadow: 2px 2px 1px rgba(0,0,0, 0.5);
}


slides > slide.title-slide hgroup p {
  color: white;
}
*/

/* logo title slide */
.plogo {
  height: 40px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.gdbar img {
  width: 200px !important;
  height: 51px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 330px !important;
  height: 67px !important;
}

/* footer logo */
slides > slide:not(.nobackground):before {
  width: 0;
  height: 0;
  background-size: 0 0;
}

/* footer link to slides */
.myfooter {
  height: 0;
  position: absolute;
  bottom: 5%;
  width: 85%;
  text-align: center;
  font-size: 0.7em;
}

a:link {
    color: grey;
    border-bottom: 1px solid grey;
}

a:visited {
    color: grey;
    border-bottom: 1px solid grey;
}

a:hover {
    color: grey;
    border-bottom: 1px solid grey;
}

a:active {
    color: grey;
    border-bottom: 1px solid grey;
}

.bullet {
  text-indent: -15px;
  margin-left: 15px;
}


/* references on slides */
.mysource {
  float: right;
  opacity: .6;
  font-size: .7em;
}

/*
.fullscreen {
  background-image: url("modelle_tab.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}
*/


/* divs for slide design */
.container {
    justify-content: center;
    display: flex;
}

.box30 {
    margin: 20px;
    width: 30%;
    text-align: center;
}

.box40 {
    margin: 0 5% 0 5%;
    width: 40%;
    text-align: center;
}

.box60 {
    margin: 20px;
    width: 60%;
    text-align: center;
}

.box45l {
  width: 45%;
  margin-right: 20px;
  position: absolute;
  left: 6%;
  top: 35%;
}

.box45r {
  width: 45%;
  position: absolute;
  left: 53%;
  top: 35%;
}

.box50r {
  width: 50%;
  margin-left: 48%;
}

.box60l {
  width: 60%;
  margin-right: 20px;
}

.box60r {
  width: 60%;
  margin-left: 40%;
}



.box30l2 {
  position: absolute;
  left: 0;
  top:0;
  width: 35%;
  height: 100%;
  background-color: #0069AA;
  z-index: -1;
  opacity:.3;
  text-align: center;
  font-weight: 900;
  color: white;
}



.box45r4 {
  position: absolute;
  left: 50%;
  top:0;
  width: 50%;
  height: 100%;
  background-color: #a51e37;
  z-index: -1;
  opacity:.5;
  text-align: center;
  font-weight: 900;
  color: white;
}

.box45r5 {
  position: absolute;
  left: 50%;
  top:0;
  width: 50%;
  height: 100%;
  background-color: #b4a069;
  z-index: -1;
  opacity:.5;
  text-align: center;
  font-weight: 900;
  color: white;
}

.box45r6 {
  position: absolute;
  left: 0;
  top:0;
  width: 35%;
  height: 100%;
  background-color: #0069AA;
  z-index: -1;
  opacity:.5;
  text-align: center;
  font-weight: 900;
  color: white;
}

.nullfuenfem {
  font-size: .3em;
}

.myref > p {
  font-size: 8px !important;
  color: red;
}


/*
slides > slide.backdrop {
  background: white;
}
*/


.blueborder {
   background-color: #82b9a0;
   padding:4px;
   display: inline-block;
}